html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main{
    height: 90vh;
    display: flex;
}
.conteudo{
    background-color: rgb(255, 255, 255);
}