html *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}