html *{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(#08329d,#2c0256);
}

.formulario{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 25em;
    width: 25em;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 25px black;
}
.formulario input{
    background-color: transparent;
    backdrop-filter: blur(20px);
}
.formulario p{
    color: white;
    text-shadow: 2px 2px 3px black;
    font-size: 30px;
    font-weight: bold;
}
.formulario .campos{
    width: 20em;
    height: 3em;
    border-radius: 25px;
    border: 10px white;
    color: white;
    margin: 5px;    
}
.formulario ::-webkit-input-placeholder{
    font-weight: bold;
    color: white;
}
.formulario .btn_submit{
    width: 10em;
    height: 4em;
    border-radius: 25px;
    border: 10px white;
    color: white;
    margin: 40px;
    font-size: 15px;
}