html{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario{
    background-color: black;
    color: white;
    width: 30em;
    height: 30em;
    
}